[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-extensions = "==3.1.1"
django-ckeditor = "==6.0.0"
requests = "==2.25.1"
Django = "==3.1.7"
djangorestframework = "==3.12.2"
drf-extensions = "==0.7.0"
gunicorn = "==20.0.4"
psycopg2-binary = "*"
black = "==20.8b1"
flake8 = "==3.8.4"
jupyter = "==1.0.0"

[dev-packages]
black = "==20.8b1"
flake8 = "==3.8.4"
jupyter = "==1.0.0"

[requires]
python_version = "3.9"
