{% extends "base.html" %}

{% block "title" %}Posts{% endblock %}

{% block "content" %}
     <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a my super blog about something.</p>
    </div>
    <div class="row">
      {% for post in post_list %}
        <div class="post-item col-6 p-2">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="text-primary">{{ post.created}} by {{ post.author }}</p>
              <p  class="card-text">{{post.body|safe }}</p>
              <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More</a>
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}